# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Specify owners for all files
* @TheKingTermux

# Assign ownership to all JavaScript, TypeScript, And JSON files
*.js     @TheKingTermux
*.ts     @TheKingTermux
*.json   @TheKingTermux