name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v3
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        issue_message: 'Terimakasih telah memberikan isu terbaru kepada kami'
        pr_message: 'Terimakasih telah memberikan kontribusi kepada kami'
